<div class="row">
    <div class="col-md-12">
        <ba-card cardTitle="Ventas por producto y vendedor por rango de fechas" baCardClass="with-scroll">
            <div class="enlarge">
                <div class="row">

                    <div class="col-md-6">
                        <form class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-sm-2 form-control-label">ProductoId:</label>
                                <div class="col-sm-10">
                                    <input type="text" [(ngModel)]="product_id" name="product_id" class="form-control" id="product_id">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 form-control-label" for="descripcion">Descripción:</label>
                                <div class="col-sm-10">
                                    <input type="text" [(ngModel)]="product_description" name="product_description" class="form-control" id="product_description"
                                        (input)="input()">
                                    <select multiple class="form-control tablet-landscape-and-below" id="selectedProductId" name="selectedProductId" *ngIf="showSelect"
                                        (click)="selectClick()" [(ngModel)]="product_id">
                                        <option *ngFor="let product of productSuggestionList" [value]="product.productoId">{{product.descripcion}}</option>
                                    </select>
                                    <div class="desktop-and-up form-control" *ngIf="showSelect">
                                        <div tabindex="1" class="clickablediv" *ngFor="let product of productSuggestionList" style="overflow-x: hidden;" (click)="selectClickOption($event,product.productoId)">{{product.descripcion}}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group row">

                            <label class="col-sm-2 form-control-label">Marca</label>
                            <div class="col-sm-10">
                                <input type="text" [(ngModel)]="product_marca" name="product_marca" class="form-control" id="product_marca">
                                
                            </div>
                        </div> -->

                        </form>

                    </div>
                    <div class="col-md-6">
                        <form>
                            <div class="container">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" placeholder="fecha inicio" name="dp1" [(ngModel)]="startDate" ngbDatepicker #d1="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                                        <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" placeholder="fecha Final" name="dp" [(ngModel)]="endDate" ngbDatepicker #d="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                                        <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <button class="btn btn-primary" (click)="updateGraph(product_id,vendedor_id,startDate,endDate)">Actualizar Gráfica</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <ba-chartist-chart *ngIf="show" baChartistChartClass="ct-chart stacked-bar" baChartistChartType="Pie" [baChartistChartData]="graph_data"
                    [baChartistChartOptions]="simplepie['simplePieOptions']">
                </ba-chartist-chart>
                <div *ngIf="show">
                    <h4>Tabla</h4>
                    <!-- <ba-chartist-chart baChartistChartClass="ct-chart" baChartistChartType="Line" [baChartistChartData]="show_quantites ?  graph_data_quantity : graph_data_money"
                    [baChartistChartOptions]="graph_options">
                </ba-chartist-chart> -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr class="black-muted-bg">
                                    <th></th>
                                    <th class="align-center">VendedorId</th>
                                    <th class="align-center">Porcentaje</th>
                                    <th class="align-center">Nombre Completo</th>
                                    <th class="align-center">Descripción</th>
                                    <th class="align-center">Cantidad Vendida (Unidad medida de venta)</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of table_data" class="no-top-border">
                                    <td class="align-right">
                                        <i class="ion-ios-circle-filled {{item.class}} ct-point"></i>
                                    </td>
                                    <td class="align-right">{{item.vendedorId}}</td>
                                    <td class="align-right">{{item.percentage}}</td>
                                    <td class="align-right">{{item.nombre}}</td>
                                    <td class="align-right">{{item.desc}}</td>
                                    <td class="align-right">{{item.cant}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ba-card>
    </div>



</div>