<div class="table-responsive" *ngIf="!isPricesEmpty()">
    <h3> Tipo de Precios </h3>
<table class="table table-hover table-bordered"  >
    <thead>
        <tr class="black-muted-bg">
            <th class="align-left">Tipo precio</th>
            <th class="align-left">Precio</th>
            <th class="align-left">Margen</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of prices" class="no-top-border">
            <td class="align-right" (click)="getRanges($event,item.TipoPrecioId,item.ProductoId,item.EmpresaId,item.UMedidaId,item.DescUMedida)" >
                
                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                
                {{item.TipoPrecio}}
            </td>
            <td class="align-left">Q.{{item.PrecioVenta}}</td>
            <td class="align-right">{{item.MargenSobreCosto}}%</td>
        </tr>
    </tbody>
</table>
</div>
<div class="table-responsive" *ngIf="!isRangesEmpty()">
    <h3> Rango de Precios </h3>
<table class="table table-hover table-bordered" >
    <thead>
        <tr class="black-muted-bg">
            <th class="align-right">Desde</th>
            <th class="align-right">Hasta</th>
            <th class="align-right">Precio de venta</th>
            <th class="align-right">Margen</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of ranges" class="no-top-border">
            <td class="align-right" >{{item.Desde}}</td>
            <td class="align-right">{{item.Hasta}}</td>
            <td class="align-left">Q.{{item.PrecioVenta}}</td>
            <td class="align-right">{{item.MargenSobreCosto}}%</td>
        </tr>
    </tbody>
</table>
</div>