<div class="table-responsive" *ngIf="!isMeasuresEmpty()">
<table class="table  table-hover table-bordered"  >
    <thead>
        
    </thead>
    <tbody>
        <tr *ngFor="let item of measures; let i = index" class="no-top-border">
            <td  (click)="showPrices(i)" >
                
                   <!-- <i class="fa fa-search-plus" aria-hidden="true"></i>-->
                
                {{item.Descripcion}}
            </td>
            
        </tr>
    </tbody>
</table>
</div>