<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <pie-charts [mode]="'mensual'" (onYearSelected)="onYearSelected($event)"></pie-charts>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ">

        <ba-card cardTitle="Ventas actuales vs Proyección x10,000" baCardClass="with-scroll">
            <div class="row">
                <div class="col-md-12">
                    
                    <select class="form-control" id="sallers" name="sellers" (change)="selected()" [(ngModel)]="selected_seller">
                        <option *ngFor="let seller of sellers_names_data; let i = index" [value]="seller.id" [attr.selected]="i == 0 ? true : null">{{seller.name}}</option>
                    </select>
                    <div class="separator" *ngIf="display_graph"></div>
                    <labs-by-seller *ngIf="display_graph"    seller="{{selected_seller}}"></labs-by-seller>
                    <label *ngIf="display_graph">Ventas Anuales</label>
                    <ba-chartist-chart baChartistChartClass="ct-chart" baChartistChartType="Line" [baChartistChartData]="sellers_graph_data"
                        [baChartistChartOptions]="chart_options" *ngIf="display_graph">
                    </ba-chartist-chart>    
                    <div *ngIf="display_graph">

                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed">
                                <thead>
                                    <tr class="black-muted-bg">
                                        <th class="align-center"></th>
                                        <th class="align-center">Fuente</th>

                                        <th class="align-center">Enero</th>
                                        <th class="align-center">Febrero</th>
                                        <th class="align-center">Marzo</th>
                                        <th class="align-center">Abril</th>
                                        <th class="align-center">Mayo</th>
                                        <th class="align-center">Junio</th>
                                        <th class="align-center">Julio</th>
                                        <th class="align-center">Agosto</th>
                                        <th class="align-center">Septiembre</th>
                                        <th class="align-center">Octubre</th>
                                        <th class="align-center">Noviembre</th>
                                        <th class="align-center">Diciembre</th>
                                        <th class="align-center">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of sellers_table_data" class="no-top-border">
                                        <td class="align-right">
                                            <i class="ion-ios-circle-filled {{item.class}} ct-point"></i>
                                        </td>
                                        <td class="align-right">{{item.Fuente}}</td>

                                        <td class="align-right">Q.{{item.Enero}}</td>
                                        <td class="align-right">Q.{{item.Febrero}}</td>
                                        <td class="align-right">Q.{{item.Marzo}}</td>
                                        <td class="align-right">Q.{{item.Abril}}</td>
                                        <td class="align-right">Q.{{item.Mayo}}</td>
                                        <td class="align-right">Q.{{item.Junio}}</td>
                                        <td class="align-right">Q.{{item.Julio}}</td>
                                        <td class="align-right">Q.{{item.Agosto}}</td>
                                        <td class="align-right">Q.{{item.Septiembre}}</td>
                                        <td class="align-right">Q.{{item.Octubre}}</td>
                                        <td class="align-right">Q.{{item.Noviembre}}</td>
                                        <td class="align-right">Q.{{item.Diciembre}}</td>
                                        <td class="align-right">Q.{{item.Total}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>

            <div class="row" *ngIf="display_graph && display_pieChart">
                <div class="col-md-12 col-lg-12">
                    <div class="separator"></div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <label>Top Clientes</label>
                    <ba-chartist-chart baChartistChartClass="ct-chart stacked-bar" baChartistChartType="Pie" [baChartistChartData]="top_clients_graph_data"
                        [baChartistChartOptions]="labelsPieOptions">
                    </ba-chartist-chart>
                </div>
                <div class="col-md-8 col-lg-8">
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr class="black-muted-bg">
                                    <th class="align-center"></th>
                                    <th class="align-center">Nombre</th>

                                    <th class="align-center">ClienteId</th>
                                    <th class="align-center">Total</th>
                                    <th class="align-center">Vendedor</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of top_clients_table_data" class="no-top-border">
                                    <td class="align-right">
                                        <i class="ion-ios-circle-filled {{item.class}} ct-point"></i>
                                    </td>
                                    <td class="align-left">{{item.Nombre}}</td>

                                    <td class="align-right">{{item.ClienteId}}</td>
                                    <td class="align-right">Q.{{item.Total}}</td>
                                    <td class="align-right">{{item.Vendedor}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ba-card>

    </div>
</div>